.field-label {
  flex-grow: 0.5;
  margin-right: 0;
  text-align: initial;
}

.cover {
  height: 100vh !important;
  object-fit: cover;
}

.custom-navbar-heigh{
  height: 52px;
}

.sign-up-title{
  margin-bottom: 0px !important;
}
