.movement-section{
  align-items: center;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
}

.has-50-vw{
  width: 50vw;
}

.movement-form{
  display: flex;
  justify-content: center;
}