.event-item {
  margin: 20px 0px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.icon-position {
  position: absolute;
  right: 17%;
}

.icon-position:hover{
  cursor: pointer;
}

.event-panel {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.add-button {
  background: none;
  border: none;
}

.add-button:hover {
  cursor: pointer;
}

.list-title {
  align-self: flex-end;
  font-weight: bold;
}