.movement-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-50-vw{
  width: 50vw;
}

.movement-form{
  display: flex;
  justify-content: center;
}

.detail-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero-head{
  padding-top: 18px;
}

.sub-container {
  margin: 30px 0px;
}