.detail-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero-head {
  padding-top: 18px;
}

.sub-container {
  margin: 30px 0px;
}

.image {
  img {
    display: block;
    height: auto !important;
    max-height: 392px;
    max-width: 392px;
    width: auto !important;
  }
}

.is-aligner {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;

  > .is-aligner-item {
    flex: none;
  }
}